/*****************************************************************/
/* BUTTON STYLING */

.pure-button {
  margin: 2px;
  box-shadow: inset 0px -2px 0px 0px rgba(255,254,255,0.43);
  padding: 0.7em 1.5em;
  border-radius: 4px;
  height: 3em;
  line-height: 1.5em;
  display: inline-block;
  min-width: 100px;
  background: #B5C0C8;
  color: white;
}

.pure-button-success {
  background: #3ACE6C; /* this is a green */
}

.pure-button-warning {
  background: #FFD012; /* this is an orange */
}

.pure-button-error {
  background: #FF6D4A; /* this is a maroon */
}

.pure-button-primary {
  background: #4DA1FF; /* this is a light blue */
}

.pure-button-secondary {
  background: #47C2E9; /* this is a light blue */
}

.pure-button-misc {
  background: #7174D8; /* this is a darker grey */
}

.pure-button-neutral {
  background: #B5C0C8; /* this is a darker grey */
}


