**/.tern-port
**/*.*~
**/#.*.*
.DS_Store
/dist/*
/node_binaries
/common
/.version
/versions.json
/storage/*
/boot.json
/var/*
/var/log/*
/var/recipes/*
/versions.json
/hybrixd.keys
/modules/mockchain/test.mockchain.json
/node_modules
/modules/hyProtocol
hybrixd.conf
/tmp
/interface
