# Binding and port for REST API
restport = 1111
restbind = 127.0.0.1

#restinterface is enabled by default
#restinterface = disabled|enabled

# Binding and port for User Interface
userbind = 127.0.0.1

#userport defaults to 8080
userport = 8080

#userinterface is enabled by default
#userinterface = disabled|enabled

# Other settings
cacheidx = 3000
ignoreTLSerror = true
