/******************************************************************
TABLET PORTRAIT STYLING: 600px and up
******************************************************************/

@media (min-width: 600px) {


/*****************************************************************/
 /* DASHBOARD */



/*****************************************************************/
 /* ASSETS */

.content > .assets-main .actions .pure-button {
	font-size: 1em;
	width: 150px;
	line-height: 1em;
	height: 2.5em;
}
