/******************************************************************
TABLET LANDSCAPE STYLING: 900px and up
******************************************************************/

@media (min-width: 900px) {

  .custom-menu-bottom .break {
    display: none;
  }

  .custom-menu-bottom .pure-menu-link {
    height: 60px;
  }

  /*****************************************************************/
  /* CONTENT */

  .content {
    padding: 1.8em;
  }

  .content > .databox {
    width: 49.1%;
    margin: 0.5%;
  }

  .button-label {
    display: inline;
  }

  /*****************************************************************/
  /* DASHBOARD */

  .content > .dashboard-balances .balance {
    min-width: 90px;
    margin: 0 1%;
  }

  .content > .dashboard-community,
  .content > .dashboard-transactions,
  .content > .dashboard-chat {
    margin-left: 0;
    margin-right: 0.5%;
  }

  .content > .dashboard-faq,
  .content > .dashboard-trade,
  .content > .dashboard-apps {
    margin-left: 0.5%;
    margin-right: 0;
  }

  /*****************************************************************/
  /* ASSETS */

  .content > .assets-main .table .col1 {
    width: 30%;
  }

  .content > .assets-main .table .col3 {
    width: 40%;
  }

  .content .table .actions .assetbuttons {
    display: block;
  }

  .content .table .actions .pure-button {
    display: inline-block;
    float: none;
  }

  .content .table .actions .assetbuttons .pure-button .advanced-icon svg {
    width: 14px;
    height: 14px;
  }

  .content .table .actions .assetbutton-mobile {
    display: none;
  }

  .content .table .icon svg {
    width: 28px;
    height: 28px;
  }

  .content > #manage-assets .modal-header input {
    width: 600px;
  }

}
