/******************************************************************
TABLET LANDSCAPE STYLING: 900px and up
******************************************************************/

@media (min-width: 900px) {

  /*****************************************************************/
  /* CONTENT */
  
  .content > .databox {
    width: 49.1%;
    margin: 0.5%;
  }
  
  /*****************************************************************/
  /* DASHBOARD */ 

  .content > .dashboard-transactions, .content > .dashboard-chat {
    margin-left: 0;
    margin-right: 0.5%;
  }

  .content > .dashboard-trade, .content > .dashboard-apps {
    margin-left: 0.5%;
    margin-right: 0;
  }

  /*****************************************************************/
  /* ASSETS */

  .content > .assets-main .actions .pure-button {
    display: inline-block;
    float: none;
    width: auto;
  }
}
