/******************************************************************
TABLET LANDSCAPE STYLING: 900px and up
******************************************************************/

@media (min-width: 900px) {

  /*****************************************************************/
  /* CONTENT */
  
  .content {
    padding: 1.8em;
  }

  .content > .databox {
    width: 49.1%;
    margin: 0.5%;
  }
  
  /*****************************************************************/
  /* DASHBOARD */ 

  .content > .dashboard-balances .balance {
    min-width: 90px;
    margin: 0 1%;
  }

  .content > .dashboard-balances .balance h3 {
    font-size: 1.2em;
  }

  .content > .dashboard-transactions, .content > .dashboard-chat {
    margin-left: 0;
    margin-right: 0.5%;
  }

  .content > .dashboard-trade, .content > .dashboard-apps {
    margin-left: 0.5%;
    margin-right: 0;
  }

  /*****************************************************************/
  /* ASSETS */

  .content > .assets-main .icon-title {
    display: table-cell;
  }

  .content > .assets-main .pure-table .asset, .content > .assets-main  .pure-table .icon {
    display: table-cell;
    text-align: left;
    font-size: .9em;
    width: 30px;
    padding: .6em;
  }

  .content > .assets-main .icon svg {
    width: 28px;
    height: 28px;
  }

  .content > .assets-main .actions .pure-button {
    font-size: .9em;
    display: inline-block;
    float: none;
    width: auto;
    padding: 1.1em 1em;
  }

  .content > .assets-main .actions  .assetbuttons .pure-button .advanced-icon {
    padding-right: 0.5em;
  }

  .content > .assets-main .actions .assetbuttons .advanced-label {
    display: inline-block;
  }

}
