/******************************************************************
BASE STYLING
******************************************************************/

body {
  background: linear-gradient(0deg,#3A3B61 -80%,#0C0F14 180%), #13212D;
}

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}

body {
  font-family: 'Open Sans Regular', ;
  font-style: normal;
  font-weight: 600;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.bold {
  font-weight: 600;
}

.inline {
  display: inline-block !important;
}

.divider {
  display: inline-block; width: 3em; border-top: 1px solid #D9E3EB;
  min-height: 3px;
  margin-top: 3px;
  width: 100%;
}

.table {
  font-size: 1em;
  width: 100%;
}

.table .thead .tr {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.table .body {
  background: transparent;
}

.table .tr {
  width: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border: 1px solid #D9E3EB;
  border-bottom: 1px solid transparent;
}

.table:last-child {
  border-bottom: 1px solid #D9E3EB;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.table .tbody .tr:hover {
  border: 1px solid #5AF !important;
}

.table .tr:after {
  content: '';
  display: table;
  clear: both;
}

.table .td, .content .table .th  {
  padding: 8px;
  border: none;
  display: inline-block;
  text-align: left;
}

.table .th {
  font-weight: 400;
  color: #939AA1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.table .tr:nth-child(2n-1), .table .tr:nth-child(2n-1) .td {
  background-color: #F4F7F9;
}

.table .thead, .table .thead .tr {
  background: #FFF;
}

.table .tr .th {
  background: transparent;
}

.table .tr div:after {
  content: '';
  display: table;
  clear: both;
}

.pure-form input[type=password],
.pure-form input[type=email],
.pure-form input[type=url],
.pure-form input[type=date],
.pure-form input[type=month],
.pure-form input[type=time],
.pure-form input[type=datetime],
.pure-form input[type=datetime-local],
.pure-form input[type=week],
.pure-form input[type=tel],
.pure-form input[type=color],
.pure-form input[type=number],
.pure-form input[type=search],
.pure-form input[type=text],
.pure-form select,
.pure-form textarea {
  border: 1px solid #D9E3EB;
  background: #FFF;
  color: #13212D !important;
}

::-webkit-input-placeholder { letter-spacing: 0px; color: #D0D7DD; }
::-moz-placeholder { letter-spacing: 0px; color: #D0D7DD; }
:-ms-input-placeholder { letter-spacing: 0px; color: #D0D7DD; }
:-moz-placeholder { letter-spacing: 0px; color: #D0D7DD; }

p {
  line-height: 23px;
  font-size: 13px;
}

/*****************************************************************/
/* TOP MENU */

.custom-menu-bg {
  background: transparent;
}
.custom-menu-wrapper {
  overflow: visible;
  margin: 0.4em auto 2.5em auto;
  white-space: nowrap;
  position: relative;
  height: 3.2em;
  width: 100%;
}

.custom-menu {
  display: block;
  width: auto;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}

.custom-menu .pure-menu-item {
  padding: .5em 0 .5em 1em;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
}

.custom-menu-bottom .pure-menu-link {
  opacity: 1;
  width: 100px;
  height: 80px;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-menu-bottom.custom-menu-tucked .pure-menu-link {
  -webkit-transform: translateX(-140px);
  -moz-transform: translateX(-140px);
  -ms-transform: translateX(-140px);
  transform: translateX(-140px);
  opacity: 0;
  opacity: 1\9;
}

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
  color: #D9E3EB;
  font-weight: 500;
}

.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
  background-color: transparent;
}

.custom-menu-top {
  position: relative;
  padding-top: 1.2em;
  padding-bottom: .6em;
}

.custom-menu-brand {
  display: block;
  text-align: center;
  position: relative;
}

.custom-menu-brand img {
  height: 2em;
  margin-top: 0em;
  padding-left: 0;
  padding-right: 0;
}

.custom-menu-toggle {
  width: 44px;
  height: 44px;
  display: block;
  position: absolute;
  top: 3px;
  right: 0;
}

.custom-menu-toggle .bar {
  background-color: #FFF;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 22px;
  right: 12px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}

.custom-menu-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.custom-menu-bottom {
  position: absolute;
  z-index: 100;
}

.custom-menu-screen {
  background-color: #13212D;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  min-height: 3em;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.custom-menu-tucked .custom-menu-screen {
  -webkit-transform: translateY(-44px);
  -moz-transform: translateY(-44px);
  -ms-transform: translateY(-44px);
  transform: translateY(-44px);
}

.pure-menu-list {
  transition: all 0.5s ease;
  background-color: #13212D;
  width: 100%;
  text-align: center;
  padding: 10px 0 10px 0;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(11, 21, 28, 0.41);
  -moz-box-shadow: 0px 2px 6px 0px rgba(11, 21, 28, 0.41);
  box-shadow: 0px 2px 6px 0px rgba(11, 21, 28, 0.41);
}

.custom-menu-tucked .pure-menu-active > .pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
  background: none;
}

.pure-menu-horizontal.custom-menu-tucked {
  z-index: -1;
  top: 45px;
  position: absolute;
  overflow: hidden;
  opacity: 0;
}

.pure-menu-horizontal.pure-menu-scrollable {
  overflow: visible;
  padding: 0;
  white-space: normal;
  width: 100%;
}

.custom-menu .pure-menu-link:hover, .custom-menu .pure-menu-heading:hover {
  text-shadow: 0px 0px 5px #FFF;
}

.custom-menu .pure-menu-link.selected {
  color: #FFF;
  font-weight: 700;
}

.custom-menu .disabled {
  cursor: not-allowed;
  color: rgba(255, 255, 255, .3);
  text-shadow: none;
  position: relative;
}

.custom-menu .disabled:hover {
  text-shadow: none;
}

.custom-menu-brand {
  padding: 0;
}

.custom-menu .disabled .m-icon {
  opacity: .3;
}


/* menu tooltip */
.custom-menu .disabled #tooltip {
  visibility: hidden;
  background-color: #939AA1;
  color: #FFF;
  position: absolute;
  top: 39px;
  left: -20px;
  padding: 8px;
  font-size: 0.75em;
  display: none;
}

.custom-menu .disabled #tooltip::after  {
  border-color: transparent transparent #939AA1 transparent;
}

.custom-menu .disabled:hover #tooltip{
  visibility: visible;
  opacity: 0.8;
}

/* user menu */
#user-icon {
  display: inline-block;
  margin-right: 0.7em;
  vertical-align: text-bottom;
  margin-bottom: 2px;
}

#user-icon > svg {
  width: 15px;
  height: 15px;
  fill: #FFF !important;
}

#userID {
  display:inline-block;
  height: 3.2em;
  color: rgba(255,255,255,.7);
  margin-top: 0.7em;
  margin-right: 0;
  margin-bottom: -0.7em;
  letter-spacing: 1px;
}

#topmenu-right {
  position: absolute;
  top: 3.3em;
  width: 100%;
  text-align: center;
}

  /* Yes, this is redundant, but as long we work with JQuery, which is the problem atm, we do this with css */
#topmenu-assets {
  cursor: not-allowed;
  color: rgba(255, 255, 255, .3);
  text-shadow: none;
}

#topmenu-assets.active {
  cursor: pointer;
  color: #FFF;
  text-shadow: none;
  position: relative;
}

#topmenu-assets.active:hover {
  text-shadow: 0px 0px 5px #FFF;
}

#topmenu-assets.active.selected {
  color: #000;
}

#topmenu-logout {
  display: none;
  vertical-align: middle;
}

.topmenu-logout-inline {
  display: inline-block;
}

/*****************************************************************/
/* CONTENT */

.modal-body {
  font-size: 1em;
}

.container {
  text-align: left;
}

.content {
  text-align: center;
  -webkit-transition: display: 2s, width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: display: 2s, width 2s, height 2s, transform 2s;
  margin: 3.5em auto;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  width: 90%;
  background: #F4F7F9;
  border-radius: 6px;
  padding: 1em;
}

.content > .databox {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  background: #FFF;
  border-radius: 6px;
  border: 1px solid #E9EFF4;
  margin: 0.5%;
  padding: 0px;
  width: 100%;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.content > .databox.wide {
  width: 100%;
  margin: .5% 0;
}

.content > .databox > .databox-header {
  border-bottom: 1px solid #EDF2F6;
  height: 58px;
}

.content > .databox > .databox-header > h2 {
  margin: 0;
  color: #323C47;
  font-size: 1.333em;
  font-weight: 700;
  padding: 18px 20px;
  display: inline-block;
}

.content > .databox .data {
  transition: opacity 1000ms;
  padding: 20px;
}

.content > .databox .spinner {
  display: block;
  text-align: center;
}

.content > .databox .cogs,
.content > .databox p {
  text-align: left;
  display: inline-block;
  color: #939AA1;
}

.content > .databox .cogs svg {
  fill: #D9E3EB !important;
  margin-right: 28px;
}

.content > .databox p {
  display: block;
  vertical-align: top;
}

.content > .wide {
  width: 90%;
}

.table {
  width: 100%;
  background: #FFF;
}

.modal {
  min-width: 200px;
  width: 480px;
  margin-left: -240px;
}

@media (max-width: 600px) {
  .modal {
    margin-left: -45%;
    width: 90%;
  }
}


/*****************************************************************/
/* DASHBOARD */

.content > .dashboard-balances {
  margin-top: 0.2em;
}

.content > .dashboard-transactions, .content > .dashboard-trade, .content > .dashboard-chat, .content > .dashboard-apps {
  margin: 0.5%;
}

.content > .dashboard-balances .balance {
  display: inline-block;
  min-width: 50%;
  padding: 12px;
  text-align: center;
  vertical-align: top;
  margin: 0 0 1.5em;
  border-radius: 0.5em;
  cursor: pointer; cursor: hand;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.content > .dashboard-balances .balance:hover {
    background: #E9EFF4;
}
.content > .dashboard-balances .balance h5 {
  color: #939AA1;
  text-transform: uppercase;
  margin: 0.2em 0.2em;
  font-size: 1.167em;
  font-weight: 600;
}

.content > .dashboard-balances .balance h3 {
  color: #4DA1FF;
  font-size: 1.833em;
  font-weight: 600;
  margin: 0.2em 0.2em;
}

.content > .dashboard-balances .balance .mini-balance {
  font-size: 0.636em;
  font-weight: 400;
}

.content > .dashboard-balances .balance h3.balance:hover {
  background: transparent;
}

.content > .dashboard-balances .no-starred-message {
  font-size: 1em;
  font-style: italic;
  color: #939AA1;
}

.btn-right-link a {
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  border: none;
  text-decoration: none;
  color: #7174D8;
  font-weight: 600;
}
.btn-right-link a span {
  vertical-align: middle;
}
.btn-right-link a .chevron-right {
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  display: inline-block;
  margin-left: 10px;
}
.btn-right-link a .chevron-right svg {
  height: 25px;
}
.btn-right-link a:hover {
  margin-left: 7px;
}
.btn-right-link a:hover .chevron-right {
  margin-left: 20px;
}

.social-icons > div {
  display: block;
  margin: 10px 35px 10px 0;
}
.social-icons > div:hover div {
     -moz-transform: scale(1.1);
       -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.social-icons > div div {
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.social-icons > div div svg {
  height: 40px;
  width: 40px;
}

.social-icons div span {
  vertical-align: middle;
}
.social-icons a {
  text-decoration: none;
  color: #939AA1;
}
.social-icons a:hover {
  color: #666;
}

/*****************************************************************/
/* ASSETS */

.content > .assets-main .databox-header .manage-button {
  display: inline-block;
  float: right;
  padding: 11px 20px;
}

.content > .assets-main svg{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.content > .assets-main .starred{
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
}

.content > .assets-main .table .tr {
  padding: 25px 10px;
}

.content > .assets-main .table .td {
  /*height: 52px;*/
  padding: 3px 8px;
}

.content > .assets-main .table .col1 {
  width: 100%;
  float: left;
  padding-bottom: 10px;
}

.content > .assets-main .table .col2 {
  width: 100%;
  float: left;
  padding: 5px 43px;
}

.content > .assets-main .table .col3 {
  width: 100%;
  float: left;
  padding: 5px 43px;
}

.content > .assets-main .table .col4 {
  float: left;
  width: 100%;
  padding: 0 43px;
}

.content .table .thead {
  display: none;
}

.content .table .asset-title {
  padding-left: 8px;
}

.content .table .asset {
  text-transform: uppercase;
  font-size: 1.167em;
  font-weight: 700;
  padding: 16px 11px 8px;
}

.content .table .icon {
  display:inline-block;
  vertical-align: middle;
  padding-right: 15px;
  margin-top: -3px;
}

.content .table .icon svg {
  width: 20px;
  height: 20px;
}

.content .table .asset .star {
  display: inline-block;
  margin-left: 8px;
}

.content .table .balance,
.content .table .dollars {
  font-size: 1.167em;
  /*padding: 10px 11px 8px;*/
}

.content .table .balance:before {
  content: "Balance: ";
  display: inline-block;
  width: 110px;
  color: #aaa;
  margin-right: 5px;
}

.content .table .dollars:before {
  content: "Balance (USD): ";
  display: inline-block;
  width: 110px;
  color: #aaa;
  margin-right: 5px;
}

.content .table .full-name {
  font-size: 1em;
  color: #939AA1;
}

.content .table .balance .progress-radial {
  text-align: left;
  display: inline;
}

.content .table .actions .assetbuttons {
  margin-top: 5px;
}

.content .table .actions .assetbuttons .icon {
  display:inline-block;
  vertical-align: middle;
  padding-right: 8px;
  margin-top: -3px;
}

.content .table .actions .assetbuttons .icon svg {
  width: 20px;
  height: 20px;
}

.content .table .actions .assetbuttons .pure-button {
  margin: 5px 0.5% 0 0.5%;
  min-width: fit-content;
  width: 49%;
}

.content .table .actions .assetbuttons .advanced-icon {
  margin-top: 1px;
}

.content .table .actions .assetbuttons .advanced-icon svg {
  width: 15px;
  height: 15px;
  padding: 0;
}

.content > #manage-assets .table .actions .assetbuttons {
  display: block;
  transition: ease 1s all;
  text-align: right;
}

.content > #manage-assets .table .actions .assetbuttons .pure-button {
  width: unset;
  margin: 5px 0px;
}


.content > #manage-assets .table .actions .assetbuttons .pure-button .actions-icon {
  display: inline-block;
  margin-right: 7px;
  vertical-align: middle;
  margin-bottom: 2px;
  margin-top: -1px;
}

.content > #manage-assets .table .actions .assetbuttons .pure-button .actions-icon svg {
  width: 12px !important;
  height: 12px !important;
}

.content .table .actions .pure-button {
  margin-left: 5px;
}

.content > #manage-assets .modal-header form {
  text-align: left;
}

.content > #manage-assets .modal-header input {
  margin: 0;
  width: 300px;
}

.content > #manage-assets .table .thead {
  display: block;
}

.content > #manage-assets .table .col1 {
  width: 65%;
  float: left;
}

.content > #manage-assets .table .col2 {
  float: right;
  width: 35%;
}

.content > #manage-assets .icon, .content > #manage-assets .asset {
  display: inline-block;
}

.content > #manage-assets .icon {
  padding: 0;
}

 .content > #manage-assets .full-name {
  display: block;
  padding: 0 0 8px 0;
}

.clearable{
  position: relative;
  display: inline-block;
}

.clearable input[type=text]{
  padding-right: 24px;
  width: 100%;
  box-sizing: border-box;
}

.clearable__clear{
  display: none;
  position: absolute;
  right: 15px;
  top: 12px;
  padding: 0px 4px;
  font-style: normal;
  font-size: 1.7em;
  user-select: none;
  cursor: pointer;
  background: #D9E3EB;
  border-radius: 50px;
  width: 21px;
  height: 20px;
  color: #FFF;
  font-weight: 600;
  line-height: 19px;
}

.clearable input::-ms-clear {  /* Remove IE default X */
  display: none;
}

.pure-button .advanced-icon {
  display: inline-block;
  padding: 0 7px 0px 0px;
  vertical-align: middle;
  margin-top: 1px;
  float:left;
}

.pure-button .advanced-icon svg {
  width: 16px;
  height: 16px;
}

#action-send .modal-body p {
  margin: 0 0 .5em 0;
}

#action-send .pure-form {
  margin: 22px 0 -22px 0;
  text-align:left;
}

#action-actions .modal-body .buttons .pure-button {
  display: block;
  margin: .5em auto;
  width: fit-content;
}

#action-send .modal-body .pure-form .max-amount-button {
  margin-top: 3px;
  height: 41px;
  padding-top: 12px;
}

#action-send .modal-send-networkfee {
  display: inline-block;
  color: #4DA1FF;
  word-wrap: break-word;
  font-weight: 600;
}

#action-send .modal-send-addressfrom-wrap {
  display: block;
  text-align: left;
}

#action-send label {
  text-align: left;
  font-size: 1em;
  color: #13212D;
  margin: .25em 0px .25em 2px;
  display: block;
  text-align: left;
}

#action-send .modal-send-addressfrom, #action-receive .modal-receive-addressfrom {
  font-size: 15px;
  word-wrap: break-word;
  margin-bottom: .2em;
  padding: 13px 10px;
  font-family: 'Open Sans';
  font-weight: 300;
  background: #E9EFF4;
  border-radius: 6px;
  color: 13212D;
}

#action-send .modal-send-addressfrom {
  margin-top: 5px;
}

#action-send .spinner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 5;
  display: none;
}

#action-send .spinner.active {
  display: block;
}

#action-receive .copied {
  display: inline-block;
  float: right;
  transition: all 1s ease;
  font-size: 1em;
  background: #3ACE6C;
  color: #FFF;
  opacity: 0;
  padding: 4px 8px;
  border-radius: 4px;
  margin-top: -37px;
  margin-right: 10px;
}

#qrcode { display: inline-block; }

.display-assets-link {
  cursor: pointer;
}
