<div class="main" style="text-align: center;">
  <div class="container">
    <div id="login_container">
      <div class="login-flip-card">
        <div class="flip-container">
          <div class="flipper">
            <form id="loginform" class="pure-form login-flip-front">
              <input name="userid" type="text" id="inputUserID" class="form-control" placeholder="Account ID" required autofocus/>
              <input name="passcode" type="password" id="inputPasscode" class="form-control" placeholder="Password" required/>
              <a id="loginbutton" class="click pure-button pure-button-large pure-button-primary">
                <div id="loginbuttoncontent">
                  <div id="loginwrap">Sign in</div>
                  <div class="spinner-loader">...</div>
                </div>
              </a>
              <div class="user-login-notification"></div>
            </form>
            <div class="login-flip-back">
              <div class="login-flip-back-content">
                <p>
                  Success! Please wait a few seconds while your wallet is being loaded.
                </p>
                <div class="progress-bar-wrapper">
                  <div class="progress-bar">
                  </div>
                </div>
                <div class="progress-text">
                  Checking your credentials.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form id="generateform" class="pure-form">
        <p>
          Do you want a new wallet?
        </p>

        <a id="generatebutton" class="pure-button pure-button-large pure-button-secondary" onclick="PRNG.seeder.restart(); document.getElementById('newaccountmodal').style.display = 'block';">
          <span>Create a new account</span>
        </a>
      </form>
      <a id="alertbutton" onclick="alertbutton();">
        <span><strong>⚠</strong> Disclaimer! Read this before use!</span>
      </a>
      <a id="helpbutton" onclick="helpbutton();">
        <span>Help</span>
      </a>
    </div>
    <div id="newaccountmodal"></div>
    <div id="newaccountcontent" onclick="SecureRandom.seedTime();" onmousemove="PRNG.seeder.seed(event);">
      <div id="seedpoolarea" style="display:none;"><textarea rows="16" cols="62" id="seedpool"></textarea></div>
      <div id="generate">
        <h2>Create a new account</h2>
        <span id="generatelabelmovemouse">
          To create a new account, we will generate random numbers to make it secure.<br />
          Please swipe your touchscreen or move your mouse around to complete this process.<br /><br />
          Keep doing this until you reach a one hundred percent shown below.<br />
          You will see dots appear while you are moving around.
        </span>
        <br /><br />
        <h2 id="percentagedone">[ <span id="mousemovelimit"></span> ]</h2>
        <br />
        <div style="display:none;">
          <span id="generatelabelkeypress">Advanced users: textbox input</span> <input type="text" id="generatekeyinput" onkeydown="PRNG.seeder.seedKeyPress(event);" />
        </div>
        <h5>Look at that! Just for fun, here you can see<br />the random numbers you are creating.</h5>
        <div id="seedpooldisplay"><small>(No numbers here yet. Go ahead and swipe or move the mouse...)</small></div>
      </div>
    </div>
  </div>
</div>

<div id="session_data" style="display:none;"></div>
