// -- Assets styles ----------------------------------------------------

.content > .assets-main {
  .databox-header .manage-button {
    display: inline-block;
    float: right;
    padding: 11px 20px;
  }
  svg{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
  .starred{
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
  }
  .table {
    a {
      border: none;
    }
    .col1 {
      float: left;
      padding-bottom: 20px;
      width: 45%;

      @include breakpoint(small) {

        padding-bottom: 0;
      }
    }
    .col1,
    .col2,
    .col3,
    .col4 {
      @include user-select(text);
      @include breakpoint(xxsmall) {
        display:block;
        width: 100%;
      }
      @include breakpoint(medium) {
        width: 27%;
        float: none;
        display: inline-block;
        padding: 3px;
        vertical-align: middle;
        line-height: 40px;
      }
      @include breakpoint(xlarge) {
        width: 25%;
        //padding: 0;
      }
    }
    .col2,
    .col3 {
      @include breakpoint(xsmall) {
        width: 55%;
        float: right;
        text-align: right;
      }
      @include breakpoint(medium) {
        width: 27%;
        float: none;
        text-align: left;
        padding: 3px;
        vertical-align: middle;
        line-height: 40px;
      }
      @include breakpoint(xlarge) {
        width: 25%;
      }
    }
    .col4 {
      float: left;
      width: 100%;
      @include user-select(none);
      @include breakpoint(small) {
        //padding: 0;
      }
      @include breakpoint(medium) {
        width: 19%;
        float: none;
      }
      @include breakpoint(xlarge) {
        width: 25%;
      }
    }
    .thead {
      display: none;
      @include user-select(none);

      @include breakpoint(medium) {
        display: block;
      }
    }
    .tr {
      padding: 15px;

      @include breakpoint(small) {
        padding: 20px 10px;
      }
      @include breakpoint(medium) {
        padding: 5px 15px;
      }
      @include breakpoint(xlarge) {
        padding: 0px 15px;
      }
    }
    .th {
      @include breakpoint(medium) {
        line-height: 20px;
      }
      @include breakpoint(xlarge) {
        padding: 10px 0;
      }
    }
    .td {
      padding: 3px 0px;
    }
    .col2,
    .col3 {
      padding-left: 3px;
    }
    .asset-title {
      padding-left: 8px;
    }
    .asset {
      @include font-size(14);
      text-transform: uppercase;
      font-weight: $bold;
      padding: 5px 0 10px;

      .star {
        display: inline-block;
        margin-left: 8px;
      }
    }
    .icon,
    .asset {
      @include breakpoint(small) {
        display: inline-block;
        vertical-align: middle;
        padding: 8px 5px;
      }
    }
    .progress-radial {
      float: right;

      @include breakpoint(medium) {
        float: none;
      }
    }
    .balance,
    .dollars {
      @include font-size(14);
      font-weight: $semi-bold;

      @include breakpoint(medium) {
        padding: 13px 0;
        line-height: 40px;
      }
      div {
        float: right;

        @include breakpoint(medium) {
         float: left;
        }
      }
      &:before {
        @include breakpoint(medium) {
          content: "";
          width: 0;
          display: inline-block;
        }
      }
    }
    .balance:before {
      content: "Balance: ";
      width: 110px;
      display: inline-block;
      color: $darker-grey;
      margin-right: 5px;
      font-weight: $regular;

      @include breakpoint(medium) {
        width: unset;
        content: "";
      }
    }
    .dollars:before {
      content: "Valuation: ";
      width: 110px;
      display: inline-block;
      color: $darker-grey;
      margin-right: 5px;
      font-weight: $regular;

      @include breakpoint(medium) {
        width: unset;
        content: "";
      }
    }
    .actions {
      .buttons {
        margin-top: 5px;
      }
      .assetbuttons {
        @include transition(ease 1s all);
        display: block;
        text-align: right;

        .icon {
          display:inline-block;
          vertical-align: middle;
          padding-right: 8px;
          margin-top: -3px;

          svg {
            width: 20px;
            height: 20px;
          }
        }
        .pure-button {
          margin: 5px 1% 0;
          min-width: -moz-fit-content;
          min-width: fit-content;
          width: 48%;

          @include breakpoint(medium) {
            margin: 2px 0;
            width: 130px;
          }

          @include breakpoint(xlarge) {
            width: unset;
            margin: 2px 0 2px 5px;
          }
        }
        .advanced-icon {
          margin-top: 1px;

          svg {
            width: 15px;
            height: 15px;
            padding: 0;
          }
        }
      }
    }
  }
}
.content > #manage-assets {
  .modal-header {
    form {
      text-align: left;
    }
    input {
      margin: 0;
      width: 300px;
    }
  }
  .table {
    .thead {
      display: block;

      .tr {
        .col1,
        .col2 {
          float: none;
          vertical-align: top;
        }
      }
    }
    .col1 {
      width: 65%;
      float: left;
    }
    .col2 {
      float: right;
      width: 35%;
    }
    .actions {
      .assetbuttons {
        @include transition(ease 1s all);
        display: block;
        text-align: right;

        .pure-button {
          width: unset;

          .actions-icon {
            display: inline-block;
            margin: -1px 7px 2px 0;
            vertical-align: middle;

            svg {
              width: 12px !important;
              height: 12px !important;
            }
          }
        }
      }
      .pure-button {
        margin-left: 5px;
      }
    }
  }
  .icon,
  .asset {
    display: inline-block;
  }
  .icon {
    padding: 5px 5px 5px 0;
  }
  .asset {
    font-weight: $bold;
  }
  .full-name {
    display: block;
    font-weight: $regular;
    color: $grey;

    @include breakpoint(xlarge) {
      display: inline-block;
      padding: 0 0 0 8px;
    }
  }
}
.content {
  .table {
    .icon {
      display:inline-block;
      vertical-align: middle;
      padding-right: 15px;
      margin-top: -3px;

      svg {
        width: 20px;
        height: 20px;

        @include breakpoint(small) {
          width: 30px;
          height: 30px;
        }
        @include breakpoint(medium) {
          width: 28px;
          height: 28px;
        }
      }
    }
    .actions {
      .assetbuttons {
        @include breakpoint(medium) {
          display: block;
          text-align: right;
        }
        .pure-button {
          @include breakpoint(medium) {
            margin: 2px 0;
            width: 130px;
          }

          .icon {
            padding: 0 8px 0 0;
            margin: 0;
          }
        }
      }
      .pure-button {
        @include breakpoint(medium) {
          display: inline-block;
          float: none;
        }
      }
    }
  }
}

.clearable{
  position: relative;
  display: inline-block;

  input[type=text]{
    padding-right: 24px;
    width: 100%;
    box-sizing: border-box;
  }
  input::-ms-clear {  /* Remove IE default X */
    display: none;
  }
}
.clearable__clear{
  display: none;
  position: absolute;
  right: 15px;
  top: 12px;
  padding: 0px 4px;
  font-style: normal;
  font-size: 1.7em;
  user-select: none;
  cursor: pointer;
  background: $border-color;
  border-radius: 50px;
  width: 21px;
  height: 20px;
  color: white;
  font-weight: $semi-bold;
  @include line-height(19);
}

#action-send .modal-send-addressfrom,
#action-receive .modal-receive-addressfrom {
  font-size: 15px;
  word-wrap: break-word;
  margin-bottom: .2em;
  padding: 13px 10px;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-weight: 600;
  background: #E9EFF4;
  border-radius: 6px;
  color: #13212D;
  letter-spacing: 1px;
  @include user-select(all);
}
#action-send {
  .modal-body {
    p {
      margin: 0 0 .5em 0;
    }
    .buttons .pure-button {
      display: block;
      margin: .5em auto;
      width: -moz-fit-content;
      width: fit-content;
    }
  }
  .pure-form {
    margin: 22px 0 -22px 0;
    text-align:left;

    .max-amount-button {
      margin-top: 3px;
      height: 41px;
      padding-top: 12px;
      float:right;
    }
  }
  .modal-send-networkfee, .modal-send-balance, .modal-send-currency {
    display: inline-block;
    color: #4DA1FF;
    word-wrap: break-word;
    font-weight: 600;
  }

  .modal-send-addressfrom-wrap {
    display: block;
    text-align: left;
  }
  .modal-send-addressfrom {
    margin-top: 5px;
  }
  label {
    text-align: left;
    font-size: 1em;
    color: #13212D;
    margin: .25em 0px .25em 2px;
    display: block;
    text-align: left;
  }
  .spinner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 5;
    display: none;
  }
  .spinner.active {
    display: block;
  }
}
#action-receive {
  .copied {
    display: inline-block;
    float: right;
    @include transition(all 0.3s ease);
    font-size: 1em;
    background: #3ACE6C;
    color: #FFF;
    opacity: 0;
    padding: 4px 8px;
    border-radius: 4px;
    margin-top: -37px;
    margin-right: 10px;
    z-index: 123456789;
  }
  #qrcode {
    display: inline-block;
  }
}
.display-assets-link {
  cursor: pointer;
}