// -- Clipboard styles ----------------------------------------------------

#action-receive .copied {
  opacity: 0;
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
  z-index: 123456789;
}

#action-receive .copied.active {
  opacity: 0.9;
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
  z-index: 123456789;
  position: relative;
}
