// -- Combinator (spinner) styles ----------------------------------------------------

#combinatorwrap {
    display: inline;
    vertical-align: middle;
    background-color: rgba(white,0.3);
    width: 16px;
    height: 16px;
    @include transition(all 0.5s ease);
    @include opacity(0);
    @include scale(1.5);
    @include border-radius(100%);
    float: right;
    margin-top: -12px;
  }

  #combinator, #arc0, #arc1, #arc2, #arc3 {
    @include transition(ease-in all 0.5s);
  }

  #combinator {
    color: white;
    background-color: transparent;
    position: relative;
    margin: auto;
  }

  #arc0 {
    border-radius: 50%;
    border: 1px solid;
    height: 4px;
    width: 4px;
    top: 6px;
    left: 6px;
    position: absolute;
  }

  #arc1 {
    border: 1px solid;
    height: 16px;
    width: 16px;
    position: absolute;
    @include border-radius(50%);
  }

  #arc2 {
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    height: 8px;
    width: 8px;
    top: 4px;
    left: 4px;
    position: absolute;
    @include border-radius(50%);
  }

  #arc3 {
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    height: 12px;
    width: 12px;
    top: 2px;
    left: 2px;
    position: absolute;
    @include border-radius(50%);
  }