// -- Login styles ----------------------------------------------------

#login_container {
  width: 90%;
  max-width: 380px;
  color: white;
  text-align: center;
  display: block;
  margin: 0 auto;
  @include user-select(none);

  .logo {
    width: 80%;
    max-width: 370px;
    display: block;
    margin: 40px auto 0px;

    @include breakpoint(medium) {
      width: 90%;
      margin-top: 80px;
    }
  }

  input {
    @include user-select(all);
  }

  .pure-button {
    margin: 10px 0;
    display: block;
  }

  #loginform {
    position: relative;
  }

  #loginform, #generateform {
    display: inline-block;
    width: 100%;
    margin: 40px 0 20px;
    background: white;
    padding: 30px;
    @include border-radius(4px);
  }

  #loginbutton {
    margin: 5px 0 0;
    padding: 10px 24px;
  }

  #loginbutton .spinner-loader{
    display: none;
  }

  #loginbutton .spinner-loader.active{
    display: block;
  }

  #loginbuttoncontent {
    display: inline-block;
    width: 100%;
  }

  #loginwrap {
    display: block;
    vertical-align: middle;
    margin-bottom: -3px;
  }

  .or {
    color: $grey;
    font-weight: $semi-bold;
    display: inline-block;
    margin: 15px 0;
  }

  #helpbutton, #websitebutton, #alertbutton {
    display: block;
    color: $darker-grey;
    margin: 0.5em 0 1.8em;
    font-weight: $semi-bold;
    border: none;
    @include transition(all 0.2s ease-in-out);
    @include font-size(14);
    @include border-radius(4px);
  }

  #generateform {
    padding: 0;
    margin: 0 0 40px;
  }

  #generateform.inactive {
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -ms-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
    opacity: 0;
  }

  #generateform p {
    color: #000;
    @include font-size(16);
    border-bottom: 1px solid $border-color;
    padding: 10px 30px 20px;
    text-align: left;
  }

  #generatebutton {
    margin: 30px;
  }

  #alertbutton {
    color: $secondary-color;
    @include opacity(0.7);

    &:hover {
      cursor: pointer;
      color: $secondary-color;
      @include opacity(1);
    }
  }

  #helpbutton,
  #websitebutton {
    @include opacity(0.7);

    &:hover {
      color: white;
      @include opacity(0.9);
      cursor: pointer;
    }
  }
}

// -------------------------------------------------------------------
// -- New account generator styling ----------------------------------
// -------------------------------------------------------------------

#newaccountmodal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2147483647;
  background: $bg-color-radius-dark;
  @include opacity(.9);
}

#newaccountcontent {
  display: none;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
  border-radius: 1em;
  background: white;
  overflow: hidden;
  position: fixed;
  max-width: 100vw;
  max-height: 100vh;
  z-index: 2147483647;
  text-align: center;
  @include user-select(none);
}

#generate {
  margin-top: 50px;
  margin-bottom: 50px;
  margin: auto;
  width: 80%;
}

#percentagedone {
  font-weight: $bold;
  color: $primary-color;
  margin: 0.1em;
  @include font-size(20);
}

#seedpooldisplay {
  margin: auto;
  width: 70%;
  word-wrap:break-word;
  background: -webkit-linear-gradient($darker-grey, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.seedpoint {
  position: fixed;
  display: block;
  width: 5px;
  height: 5px;
  background: $secondary-color;
  z-index: 2147483647;
  @include opacity(0.3);
}

// -------------------------------------------------------------------
// -- Flip card
// -------------------------------------------------------------------

.login-flip-card {
  width: 100%;
  // max-width: 380px;
  color: white;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.flip-container {
  perspective: 600px;
  width: 100%;
  color: white;
  text-align: center;
  display: block;
}

/* flip speed goes here */
.flipper {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

  position: relative;
  min-height: 280px;
  width: 100%;

  @include breakpoint(small) {
    width: 380px;
  }
}

.flipper.active {
  -webkit-transform: rotateY(180deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: rotateY(180deg); /* IE 9 */
  transform: rotateY(180deg); /* IE 10, Fx 16+, Op 12.1+ */
}

.login-flip-front, .login-flip-back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.login-flip-front {
  z-index: 2;
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: rotateY(0deg); /* IE 9 */
  transform: rotateY(0deg); /* IE 10, Fx 16+, Op 12.1+ */
}

/* back, initially hidden pane */
.login-flip-back {
  margin: 40px 0 20px;
  width: 100%;
  //height: 225px;
  background: #fff;
  @include border-radius(4px);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 30px;
}

.login-flip-back-content {
  @include border-radius(4px);
  background: rgba($highlight,.1);
  padding: 20px;
  text-align: left;
}

.login-flip-back p {
  color: $highlight;
  font-weight: $semi-bold;
  margin: 0;
  padding: 0;
}

.progress-bar-wrapper {
  width: 100%;
  height: 20px;
  margin: 30px 0 10px;
  padding: 3px;
  background: rgba($highlight,.2);
  @include border-radius(10px);
}

.progress-bar {
  height: 14px;
  width: 0px;
  max-width: 280px;
  @include border-radius(7px);
  background: $highlight;
}

.progress-text {
  color: $highlight;
  font-weight: $semi-bold;
}
