// -- Colors ---------------------------------------------------------

// -------------------------------------------------------------------

// Brand colors

// -------------------------------------------------------------------

$primary-color:          #7174D8;
$primary-color-light:    lighten($primary-color, 25%);
//$primary-color-dark:     darken($primary-color, 10%);

$secondary-color:        #32AFAA;
$secondary-color-light:  lighten($secondary-color, 40%);
//$secondary-color-dark:   darken($secondary-color, 10%);

// -------------------------------------------------------------------

// Text colors

// -------------------------------------------------------------------

$text-header-color:      #000;
$text-body-color:        #595959;

// -------------------------------------------------------------------

// Background colors

// -------------------------------------------------------------------

$bg-color-light:         #F4F7F9;
$bg-color:               #24263C;
$bg-color-dark:          #1C1E2E;
$bg-color-radius:        linear-gradient(0deg,#3A3B61 -80%,#0C0F14 180%);
$bg-color-radius-dark:   linear-gradient(0deg, #1B1B2D 0%, #0C0F14 180%);

// -------------------------------------------------------------------

// Support colors

// -------------------------------------------------------------------

$border-color:           #D9E3EB;
//$border-color-light:     #E9E7E7;
$light-grey:             #E9EFF4;
$grey:                   #B5C0C8;
$darker-grey:            #939AA1;

// -------------------------------------------------------------------

// Functional colors

// -------------------------------------------------------------------

$success:                #3ACE6C;
$warning:                #FFD012;
$error:                  #FF6D4A;

// -------------------------------------------------------------------

// Button colors

// -------------------------------------------------------------------

$button-standard:        $grey;
$button-success:         $success;
$button-warning:         $warning;
$button-error:           $error;
$button-primary:         #4DA1FF;
$button-secondary:       #47C2E9;
$button-misc:            $primary-color;

// -------------------------------------------------------------------

// Table colors

// -------------------------------------------------------------------

$tbl-border-color:       $border-color;
$tbl-border-color-hover: $button-primary;
$th-bg-color:            white;
$th-color:               $darker-grey;
$cell-bg-color:          $bg-color-light;

