// -- Variables ---------------------------------------------------------

// -------------------------------------------------------------------

// Font weights

// -------------------------------------------------------------------

$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// -------------------------------------------------------------------

// Base font

// -------------------------------------------------------------------

$base-font-family: 'Open Sans', sans-serif;
$base-font-weight: $regular;
$base-font-size: 16;

$monospace-font-family: monospace;
// $base-line-height: 32;

// -------------------------------------------------------------------

// Headings

// -------------------------------------------------------------------

// $header-font-weight: $bold;

// $xl-header-font-size: 37;
// $xl-header-line-height: 46;

// $l-header-font-size: 26;
// $l-header-line-height: 40;

// $m-header-font-size: 22;
// $m-header-line-height: 36;

// $s-header-font-size: 18;
// $s-header-line-height: 30;

// $xs-header-font-size: 16;
// $xs-header-line-height: 24;

// -------------------------------------------------------------------

// Misc

// -------------------------------------------------------------------

// $s-font-size: 14;
// $s-line-height: 26;
// $menu-height: 69px;