body {
  font-family: Open Sans;
  line-height: 24px;
  font-size: 14px;
  word-break: break-word;
  padding-bottom:200px;
  margin:0;
  padding: 0 0 200px 0;
  width: 100%;
  height: 100%;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
body > dl > dt, body > dt {
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-top: 40px;
}

a {
  color: #73C4BF;
  text-decoration: none;
  font-weight: 600;
}

input {
  margin: 2px;
}

li {
  list-style-type: disc;
}

code,pre {
  background-color: #EEEEEE;
  padding: 5px 10px 6px;
  word-break: break-all;
  color: #222;
  margin: 0.25rem 0.25rem 0.25rem 0;
  overflow: scroll;
}

h1 {
  font-size: 32px;
  margin-bottom: 24px;
}
h2 {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 24px;
  font-weight: 500;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 32px;
  margin-bottom: 10px;
}
.h3-box {
  padding: 6px 12px;
  margin-top: 32px;
  margin-bottom: 10px;
  border-radius: 2px;
}
.h3-box h3 {
  margin: 0;
}
h4 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 32px;
  margin-bottom: 10px;
}
p {
  margin: 12px 0;
}
hr {
  border: 1px dotted #dedede;
  border-style: none none dotted;
  color: #fff;
  background-color: #fff;
}
#navigation {
  text-align: right;
  background: white;
  padding: 24px 0 0px;
}
#navigation img {
  float: left;
  width: 180px;
}


.menuItem {
  font-size: 18px;
  min-width: 40px;
  padding: 4px 12px;
  color: #73C4BF;
  font-weight: 600;
  display:inline-block;
  margin-left: 10px;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 10px;
  transition: 0.2s all ease-in;
}
.menuItem:hover {
  opacity: 0.7;
}
.current {
  color:#1F2020;
}
.current:hover {
  color:#1F2020;
  background: transparent;
}
.menuItem#toggle-search {
  background-image:url('search.svg');
  background-repeat: no-repeat;
  padding: 0px;
  min-width: 30px;
  cursor: pointer;
}
.menuItem#toggle-search:hover {
  background-color: transparent;
}
#collapseAll {
  opacity: 0;
  background: #73C4BF;
  cursor:pointer;
  color: white;
  padding: 6px 14px;
  font-size:16px;
  visibility: hidden;
  border-radius: 2px;
  transition: 0.2s all ease-in;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(160,160,160,.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(160,160,160,.5);
  box-shadow: 0px 0px 20px 0px rgba(160,160,160,.5);
  position: fixed;
  top: 45px;
  right: 5px;
  z-index:1000;
}
#collapseAll:hover {
  opacity: 0.8 !important;
}
.category{
  font-size: 16px;
  font-weight: 600;
  margin-top: 32px;
}
.breadcrumbs {
  color: #ccc;
  margin-top: 2px;
  display: none;
}
.command-header {
  font-family: verdana;
  background: rgba(230, 230, 230, 1);
  border: 1px solid rgba(230, 230, 230, 1);
  border-left: 4px solid #73C4BF;
  color:black;
  margin-top:10px;
  padding:8px 16px;
  border-radius:3px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.command-header b {
  font-family: monospace;
}
.command-header span {
  color: black;
}
.command-body {
  padding: 8px;
  border-color: #d1d1d1;
  border-style:solid;
  border-width:1px;
  border-radius:0px 0px 4px 4px;
  border-top: 0;
  margin-top: -2px;
  background: white;
  border: 1px solid rgba(230, 230, 230, 1);
  border-left: 4px solid #73C4BF;
  border-top: none;
}
.command-body p {
  font-size: 14px;
  margin: 12px 4px;
}
.command-body .help,
.command-body .access {
  font-size: 12px;
  color: #999;
  font-style: italic;
}
.command-body .root {
  font-size: 12px;
  color: #999;
}

.quickDescription{
  max-width: 50%;
  font-size: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  word-break: break-all;
  margin-left:8px;
}
#console-wrapper{
  padding:0;
  overflow: auto;
  border-top-style: solid;
  border-top-width:1px ;
  border-top-color:#AAAAAA;
  position: fixed;
  width:100%;
  max-width: unset;
  bottom:0;
  left:0;
  background-color:white;
}

#console-header{
  cursor:pointer;
  height:20px;
  padding:4px 8px;
  background-color:#dddddd;
}
#console-results{
  font-family: verdana;
  width:100%;
  overflow-y:scroll;
  height:0;
}
div.result {
  border-top-style: solid;
  border-top-width:1px ;
  border-top-color: #dddddd;
  width:100%;
  padding: 4px 8px;
}

div.error {
  padding-left:5px;
  background-color:#ffdddd;
  color:#CC0000;
  border-top-style: solid;
  border-top-width:1px ;
  border-top-color: #ffbbbb;
}
input {
  border: 1px solid #dedede;
  background: white;
  margin: 0.25rem;
  border-radius: 4px;
  padding: 2px 7px 1px 7px;
}
input.text {
  width:90%;
  border-style:none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;
}
input[type="submit"] {
  border: 0;
  border-radius: 0.25rem;
  background: #73C4BF;
  font-weight: 600;
  color: white;
  font-size: 14px;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 4px 10px 4px;
  margin: 0.25rem;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
input[type="submit"]:hover {
  opacity: .9;
}

input[type="submit"]:disabled,
input[type="submit"][disabled], input[type="submit"][disabled]:hover{
  background-color: #cccccc;
  cursor:default;
}


select {
  border: 1px solid #dedede;
  background: white;
  margin: 0.25rem;
}
span.result{
 color: #73C4BF;
}
.close{
 float:right;
 padding-right:10px;
}

div.prompt{
  border-top-style: solid;
  border-top-width:1px ;
  border-top-color: #dddddd;
  padding: 4px 8px;
}

.download{
  background-image:url('download.svg');
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: -25px center;
  border-radius: 6px;
  font-size: 14px;
  background-color: #73c4c0;
  padding-top:8px;
  padding-bottom:8px;
  padding-right:24px;
  padding-left:50px;
  color: white;
  display: inline-block;
  font-weight: 600;
  margin: 5px 5px 5px 0;
}
.download span {
  margin-top: -3px;
  display: block;
}
textarea{
  width:100%;
 font-family: monospace, monospace;
}

#try{
  padding:0;
  margin:0;
  height:120px;
}

#progressContainer {
  background-color:grey;
}

#result {
  background-color:#dddddd;
  font-family: monospace, monospace;

}

#progress {
  text-align:center;
  color:white;
  font-weight: 600;
  width:0;
  height:20px;
  background-color:blue;
}

div.try {
  line-height: 15px;
  padding: 15px 20px;
  border-radius: 3px;
  border-style:solid;
  border-width:1px;
  background: rgba(240, 240, 240, 1);
  border: 1px solid transparent;
}
.try select,
.try input[type="submit"] {
  margin-left: 0;
}
.try #try {
  width: calc(100% - 5px);
}
.try #progress, #result {
  margin-top:5px;
  margin-bottom: 5px;
}

table.parameters {
  margin:5px;
}

code.example {
  display:block;
  white-space: pre;
}


code.prompt:before{
  color:darkgrey;
    content: '$ ';
}

code.ref{
  margin:0;
  padding:0;
  background-color:rgba(0,0,0,0);
}

@media screen and (max-width: 840px) {
  #navigation {
    text-align: center;
  }
  #navigation img {
    float: none;
    display: block;
    margin: 0 auto;
  }
  .menuItem {
    margin-top: 0;
  }
}

p._alias, p._access {
  font-size:75%;
}

#filterBox {
  height: 30px;
 float:right;
 position:relative;
 top:-35px;
  border-radius: 2px;
  transition: 0.2s all ease-in;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(160,160,160,.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(160,160,160,.5);
  box-shadow: 0px 0px 20px 0px rgba(160,160,160,.5);
  background: #73C4BF;
  color: white;
  width:169px;
  z-index:1000;
}

#filterBox.active{
  position:fixed;
  right:5px;
  top:5px;
}

#filterBox input#search {
  width: 90px;
  border-radius: 0;
}

#noResults {
  display:none;
}
